@{
    ViewData["Title"] = "Home Page";
}


@{
    List<SelectListItem> allergenList = new List<SelectListItem>();

    allergenList.Add(new SelectListItem { Text = "Nuts", Value = "0",  });
}

<h1> Select An Allergen</h1>
<form asp-controller="Home" asp-action="FindRestaurant" method="post">

    @Html.DropDownList("Allergens", allergenList, "Select Allergen")

    <input type="submit" value="Find Restaurant" />



</form>