@model AllergenAlertMVC2.ViewModels.SelectedAllergenViewModel


@{
    ViewData["Title"] = "Home Page";
}

<h1>Select an Allergen"</h1>

<form asp.controller="Home" asp.action="Index" method="post">

    <div class="form group">
        <label asp-for="Allergen"></label>
        <select asp-for="Allergen" asp-items="Model.AllergenType"></select>
    </div>
    <input type="submit" value="Submit" />
</form>


